$body-font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
// $primary: #a5a6f6;
// $secondary: #F5F7FD;
// $accent: #E7EBFA;
$border-radius-root: 15px;

// @use 'vuetify/lib/styles' with (
//   $body-font-family: $body-font-family
// );

#app {
  font-family: $body-font-family;
}

.theme--light.v-data-table.v-data-table--fixed-header thead th {
  background: var(--v-base)!important;
}

.v-data-table, .v-data-table__wrapper {
  border-radius: $border-radius-root !important;
}

a {
  color: rgb(58, 124, 206) !important;
  border-color: 1px solid rgba(58, 124, 206, 0.3);
  cursor: pointer;
  -webkit-transition: color 0.3s ease, border-color 0.3s ease;
  transition: color 0.3s ease, border-color 0.3s ease;
}

/* Reference to art.lebedev  */
a:hover,
a:visited:hover {
  color: #f41224 !important;
  border-color: rgba(244, 18, 36, 0.3);
}

a:visited {
  color: #b40eb4 !important;
  border-color: rgba(180, 14, 180, 0.3);
}

.v-list-item--one-line .v-list-item-subtitle {
  -webkit-line-clamp: 2;
}

.v-list {
  text-align: left;
}

.v-navigation-drawer__content {
  height: 100%; /*95%s*/
}

.v-navigation-drawer__content:first-child {
  text-align: left;
}

/* historgam slider */
span.irs-from {
  visibility: hidden;
}