$body-font-family: 'SF Pro Display', Roboto, Avenir, Helvetica, Arial, sans-serif;
$heading-font-family: $body-font-family;
// $primary: #a5a6f6;
// $secondary: #F5F7FD;
// $accent: #E7EBFA;
$border-radius-root: 15px;
$btn-toggle-border-radius: 8px;

$chip-padding: 18px 12px;

$btn-toggle-border-radius: 8px;

// @use 'vuetify/lib/styles' with (
//   $body-font-family: $body-font-family
// );

html {
  width: 100vw;
}

#app {
  font-family: $body-font-family !important;
  background: var(--v-background) !important;
  color: var(--v-text);
}

.theme--light.v-data-table.v-data-table--fixed-header thead th {
  background: var(--v-secondary) !important;
  // color: #fff !important;
}

.layout.Cookie {
  flex-direction: row !important;
}

.Cookie {
  border-radius: $border-radius-root;
}

.Cookie.Cookie--bottom.Cookie--base {
  background: var(--v-primary);
  color: #fff;
}

.Cookie__content,
.Cookie__buttons {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

@media screen and (max-width: 770px) {
  .Cookie__buttons {
    width: 100%;
    justify-content: center;
  }
}
@media screen and (min-width: 770px) {
  .Cookie__buttons {
    width: 40%;
    justify-content: center;
  }
}

.v-text {
  color: var(--v-text);
}

.v-data-table,
.v-data-table__wrapper {
  border-radius: $border-radius-root !important;
}

a.no-underline, div.no-underline > a {
  text-decoration: none;
}

a:not(.no-link-decoration),
.link {
  color: var(--v-text) !important;
  border-color: 1px solid rgba(58, 124, 206, 0.3) !important;
  cursor: pointer;
  -webkit-transition: color 0.3s ease, border-color 0.3s ease;
  transition: color 0.3s ease, border-color 0.3s ease;
}

// a.external-link {
//   color: #2dd65c !important;
//   border-color: 1px solid rgba(58, 206, 73, 0.3);
//   cursor: pointer;
//   -webkit-transition: color 0.3s ease, border-color 0.3s ease;
//   transition: color 0.3s ease, border-color 0.3s ease;
// }

.link,
.external-link {
  text-decoration: underline;
}

a:not(.no-link-decoration):hover,
a:visited:hover,
.link:hover,
.link:visited:hover,
.external-link:hover,
.external-link:visited:hover {
  /* Reference to art.lebedev  */
  // color: #f41224;
  color: var(--v-primary) !important;
  text-decoration: underline;
  border-color: rgba(244, 18, 36, 0.3);
}

.v-chip:not(.v-chip--dark):not(.primary):not(.v-chip--outlined):hover {
  background: var(--v-primary) !important;
  color: white !important;
}

span.v-chip.primary:hover {
  background: var(--v-red) !important;
}
.v-chip--active::before {
  opacity: 0 !important;
}

a:not(.no-link-decoration):visited,
.link:visited,
.external-link:visited {
  color: #b40eb4 !important;
  border-color: rgba(180, 14, 180, 0.3);
}

.v-list-item--one-line .v-list-item-subtitle {
  -webkit-line-clamp: 2;
}

.v-list {
  text-align: left;
}

.v-navigation-drawer__content {
  height: 100%; /*95%s*/
}

.v-navigation-drawer__content:first-child {
  text-align: left;
}

.v-slider--horizontal {
  min-height: 68px !important;
}
.v-slider--horizontal:hover {
  cursor: pointer;
}

.v-chip {
  padding: $chip-padding !important;
  transition: 0.2s ease-in;
}
.v-chip.warning:hover {
  background-color: #fc4708 !important;
  transition: 0.2s ease-in;
}

.v-data-table--dense > .v-data-table__wrapper > table > tbody > tr > td,
.v-data-table--dense > .v-data-table__wrapper > table > thead > tr > th {
  // padding: 0 6px !important;
  // aspect-ratio: 1;
  padding: 0 !important;
  // min-width: calc(100% / 30);
  max-width: 0;
  // overflow: hidden;
  white-space: nowrap;
  // flex: 1;
  height: 22px !important;
  width: 22px !important;
  font-size: 0.7rem !important;
}
.v-data-table > .v-data-table__wrapper > table > thead > tr > th {
  text-transform: capitalize;
}
.v-data-table--dense,
#s-table-container {
  min-width: min(462px, 100%);
  max-height: 70vh;
  aspect-ratio: 1;
  position: relative;
}
.v-data-table--dense > .v-data-table__wrapper::after {
  content: 'Mutatition to';
  font-family: $body-font-family;
  color: #888;
  position: absolute;
  z-index: 4;
  top: -25px;
  text-align: center;
  left: 200px;
}
.v-data-table--dense > .v-data-table__wrapper::before {
  content: 'Mutatition from';
  font-family: $body-font-family;
  color: #888;
  position: absolute;
  z-index: 4;
  top: 220px;
  left: -75px;
  text-align: center;
  transform: rotate(-90deg);
}

.v-btn {
  border-radius: 4px;
  transform: none;
}

.v-btn:not(.no-scale):hover {
  transform: scale(1.1);
}

.v-btn-toggle > .v-btn:hover {
  transform: none;
}

.v-btn__content {
  font-family: $body-font-family;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 1.25rem;
  letter-spacing: 0px;
  // color: rgba(0, 0, 0, 0.8) !important;
}

button.v-btn {
  border: 4px #fff !important;
}

button.primary:hover:not([disabled]) {
  transition: all 250ms ease 0s;
  padding-bottom: 6px;
  margin-bottom: 1px;
  padding-top: 7px;
}

button.primary:active {
  transform: translateY(4px);
  // box-shadow: 0px 0px !important;
  transition: all 120ms ease 0s;
}

.sf {
  font-family: 'SF Pro Display', sans-serif !important;
}

.text-h5 {
  font-size: 1.5rem !important;
  font-weight: 400;
  line-height: 2rem;
  font-family: $body-font-family !important;
}

.v-application {
  font-family: $body-font-family !important;
}

.unavailable > div {
  filter: grayscale(1) brightness(1.1);
}
.unavailable {
  position: relative;
}

.unavailable::before {
  filter: none !important;
  font-weight: bold;
  font-size: 1.5rem;
  content: 'Coming soon\A\A join our channel to be notified\A when we launch new features';
  white-space: pre;
  color: #fff;
  background-color: #f41224;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  z-index: 999;
  top: min(50%, 50vh);
  left: 50%;
  max-height: 70vh;
  transform: translate(-50%, -50%) rotate(35deg);
}

.v-chip--dark {
  background: #000;
  color: white !important;
}

.v-slide-group__content > div {
  display: contents;
}

#s-table-top {
  justify-content: center;
}

.v-app-bar {
  z-index: 10;
}

aside.v-navigation-drawer {
  flex: 1 1 var(--v-sidebar_size);
  width: var(--v-sidebar_size);
  height: 100vh;
  overflow: hidden;
  // margin-right: -20px;
}

.view {
  width: 100vw;
}

.view:has(aside.v-navigation-drawer) > div {
  width: calc(100vw - var(--v-sidebar_size) - 1rem);
  flex: 1 1 calc(100vw - var(--v-sidebar_size) - 1rem);
}

aside.v-navigation-drawer > .v-navigation-drawer__content {
  width: 100%;
  overflow-y: scroll;
  position: absolute;
}

.v-toolbar > .v-toolbar__content {
  overflow: auto;
}

.v-card:not(.v-sheet--outlined) {
  background-color: var(--v-background) !important;
}
.v-data-table.theme--dark, .v-data-table.theme--light {
  background-color: var(--v-background) !important;
}
.v-data-table > .v-data-table__wrapper > table > tbody > tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
  background: var(--v-accent) !important;
}

.search {
  background: var(--v-accent) !important;
  box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px !important;
}
.search label.v-label {
  color: var(--v-text);
  font-weight: 300;
}

.v-chip.v-chip--outlined {
  border-width: 1.5px !important;
  border-radius: 8px !important;
  padding: 14px 10px !important;
}
.v-chip.v-chip--outlined > .v-chip__content { 
  font-weight: 500;
}

.theme--dark.v-skeleton-loader .v-skeleton-loader__actions, .theme--dark.v-skeleton-loader .v-skeleton-loader__article, .theme--dark.v-skeleton-loader .v-skeleton-loader__card-heading, .theme--dark.v-skeleton-loader .v-skeleton-loader__card-text, .theme--dark.v-skeleton-loader .v-skeleton-loader__date-picker, .theme--dark.v-skeleton-loader .v-skeleton-loader__list-item, .theme--dark.v-skeleton-loader .v-skeleton-loader__list-item-avatar, .theme--dark.v-skeleton-loader .v-skeleton-loader__list-item-text, .theme--dark.v-skeleton-loader .v-skeleton-loader__list-item-two-line, .theme--dark.v-skeleton-loader .v-skeleton-loader__list-item-avatar-two-line, .theme--dark.v-skeleton-loader .v-skeleton-loader__list-item-three-line, .theme--dark.v-skeleton-loader .v-skeleton-loader__list-item-avatar-three-line, .theme--dark.v-skeleton-loader .v-skeleton-loader__table-heading, .theme--dark.v-skeleton-loader .v-skeleton-loader__table-thead, .theme--dark.v-skeleton-loader .v-skeleton-loader__table-tbody, .theme--dark.v-skeleton-loader .v-skeleton-loader__table-tfoot {
  background: var(--v-background) !important;
}

/* *
Customize scrollbar
*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--v-text);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--v-accent);
}