$body-font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
$accent-font-family: Alegreya Sans, Inter, Avenir, Helvetica, Arial, sans-serif;

// $primary: #a5a6f6;
// $secondary: #F5F7FD;
// $accent: #E7EBFA;
$border-radius-root: 15px;
$btn-toggle-border-radius: 8px;

$chip-padding: 18px 12px;

// @use 'vuetify/lib/styles' with (
//   $body-font-family: $body-font-family
// );

#app {
  font-family: $body-font-family;
}

.theme--light.v-data-table.v-data-table--fixed-header thead th {
  background: var(--v-secondary) !important;
  // color: #fff !important;
}

.layout.Cookie {
  flex-direction: row !important;
}

.Cookie {
  border-radius: $border-radius-root;
}

.Cookie.Cookie--bottom.Cookie--base {
  background: var(--v-primary);
  color: #fff;
}

.Cookie__content,
.Cookie__buttons {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

@media screen and (max-width: 770px) {
  .Cookie__buttons {
    width: 100%;
    justify-content: center;
  }
}
@media screen and (min-width: 770px) {
  .Cookie__buttons {
    width: 40%;
    justify-content: center;
  }
}

.v-data-table,
.v-data-table__wrapper {
  border-radius: $border-radius-root !important;
}

a,
.link {
  color: var(--v-primary) !important;
  border-color: 1px solid rgba(58, 124, 206, 0.3) !important;
  cursor: pointer;
  -webkit-transition: color 0.3s ease, border-color 0.3s ease;
  transition: color 0.3s ease, border-color 0.3s ease;
}

// a.external-link {
//   color: #2dd65c !important;
//   border-color: 1px solid rgba(58, 206, 73, 0.3);
//   cursor: pointer;
//   -webkit-transition: color 0.3s ease, border-color 0.3s ease;
//   transition: color 0.3s ease, border-color 0.3s ease;
// }

.link,
.external-link {
  text-decoration: underline;
}

/* Reference to art.lebedev  */
a:hover,
a:visited:hover,
.link:hover,
.link:visited:hover,
.external-link:hover,
.external-link:visited:hover {
  color: #f41224 !important;
  border-color: rgba(244, 18, 36, 0.3);
}

a:visited,
.link:visited,
.external-link:visited {
  color: #b40eb4 !important;
  border-color: rgba(180, 14, 180, 0.3);
}

.v-list-item--one-line .v-list-item-subtitle {
  -webkit-line-clamp: 2;
}

.v-list {
  text-align: left;
}

.v-navigation-drawer__content {
  height: 100%; /*95%s*/
}

.v-navigation-drawer__content:first-child {
  text-align: left;
}

.v-slider--horizontal {
  min-height: 68px !important;
}
.v-slider--horizontal:hover {
  cursor: pointer;
}

.v-chip {
  padding: $chip-padding !important;
  transition: 0.2s ease-in;
}
.v-chip.warning:hover {
  background-color: #fc4708 !important;
  transition: 0.2s ease-in;
}

.v-data-table--dense > .v-data-table__wrapper > table > tbody > tr > td,
.v-data-table > .v-data-table__wrapper > table > thead > tr > th {
  padding: 0 6px !important;
}

.v-btn {
  border-radius: 4px;
  transform: none;
}

.v-btn:hover {
  transform: scale(1.1);
}

.v-btn-toggle > .v-btn:hover {
  transform: none;
}

.v-btn__content {
  font-family: $accent-font-family;
  font-weight: 800;
  text-transform: capitalize;
  font-size: 1.5rem;
  letter-spacing: 0px;
  // color: rgba(0, 0, 0, 0.8) !important;
}

.v-btn-toggle > .v-btn--active::before {
  display: none;
}

button.v-btn {
  border: 4px #fff !important;
}

button.primary:hover:not([disabled]) {
  filter: brightness(110%);
  transition: all 250ms ease 0s;
  box-shadow: 0px 5px hsl(261deg 99% 42%);
  padding-bottom: 6px;
  margin-bottom: 1px;
  padding-top: 7px;
}

button.primary:active {
  transform: translateY(4px);
  box-shadow: 0px 0px !important;
  transition: all 120ms ease 0s;
}

.font-accent {
  font-family: $accent-font-family !important;
}

.text-h5 {
  font-size: 1.5rem !important;
  font-weight: 400;
  line-height: 2rem;
  font-family: $accent-font-family !important;
}

.v-application {
  .text-h5 {
    color: #1e1e1e;
    font-family: $accent-font-family, sans-serif !important;
  }
  font-family: $body-font-family, sans-serif !important;
}

.unavailable > div {
  filter: grayscale(1) brightness(1.1);
}
.unavailable {
  position: relative;
}

.unavailable::before {
  filter: none !important;
  font-family: $accent-font-family;
  font-weight: bold;
  font-size: 1.5rem;
  content: 'Coming soon\A\A join our channel to be notified\A when we launch new features';
  white-space: pre;
  color: #fff;
  background-color: #f41224;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  z-index: 999;
  top: min(50%, 50vh);
  left: 50%;
  max-height: 70vh;
  transform: translate(-50%, -50%) rotate(35deg);
}
